<div id="two"><p id="god">신이 나를 만들때<p>
       <div class="container">
        <div class="row">
<div id= "t" class="col-md-4"><p> 우선 <%= @pen_1 %>을(를)</p><p> <%= @spoon_1 %>스푼 넣고<p></p></p><img id="ill" src=http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s0></div>
<div id="r" class="col-md-4"><p> 그 다음엔 <%= @pen_2 %>을(를)</p><p> <%= @cup_1 %>컵 넣고<p></p></p><img id="ill" src=http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s0></div>
<div id="w" class="col-md-4"><p>마지막으로  &nbsp;<%= @pen_3 %>도 </p><p> <%= @free1_1%> 넣어주자</p><img id="ill" src=http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s0></div>
</div>
    </div>
    </div>
    </p>
</div>